body{
 background-color: #f4f4f4;
  color: #333;
  padding: 30px;
  background-image: url("./img/bck.png");
  background-position: center;
  background-size: cover;
}

.App{
  width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px;
  border-radius: 10px;
  padding-bottom:30px ;
}

button{
  background-color: #333974;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  transition: 0.2;
}

.todo-form{
  padding-bottom: 1.5rem;
}
.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover{
  opacity: 1;
}

.complete{
  background-color: #5cb85c;
}

.remove{
  background-color: #d9534f;
  
  margin-left: 10px;
}

input,select{
  padding: 5px;
  margin-bottom: 10px ;
  border-radius: 3px;
  border: 1px solid #DDD;
  width: 100%;
  box-sizing:border-box
}